[submodule ".vim/pack/plugins/opt/pythonSyntax"]
	path = .vim/pack/plugins/opt/pythonSyntax
	url = https://github.com/vim-python/python-syntax.git
[submodule ".vim/pack/plugins/start/coc"]
	path = .vim/pack/plugins/start/coc
    url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/start/gutentags"]
	path = .vim/pack/plugins/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/plugins/opt/qmlSyntax"]
	path = .vim/pack/plugins/opt/qmlSyntax
	url = https://github.com/peterhoeg/vim-qml.git
[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/opt/cppSyntax"]
	path = .vim/pack/plugins/opt/cppSyntax
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule ".vim/pack/plugins/opt/clangFormat"]
	path = .vim/pack/plugins/opt/clangFormat
	url = https://github.com/rhysd/vim-clang-format.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
