[submodule ".vim/pack/plugins/opt/pythonSyntax"]
	path = .vim/pack/plugins/opt/pythonSyntax
	url = https://github.com/vim-python/python-syntax.git
[submodule ".vim/pack/plugins/start/coc"]
	path = .vim/pack/plugins/start/coc
    url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
